/* Opsta podesavanja */
.desktop-version {
    padding: 0 3rem;
}

h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 44px;
    color: #a97155;
    margin: 0;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color: black;
    margin: 0;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: black;
    margin: 0;
}

#Title .container,
#Experience .container,
#About-me .container,
#Quotes .container,
#Reach-out .container,
#Interests .container {
    padding: 3rem;
}


.bold {
    font-weight: bold;
}

.color-dark-brown {
    color: #a97155;
}

.color-light-brown {
    color: #be8c63;
}

.background-color-br {
    background-color: #fffbf5;
}

.break-line {
    background-color: #a97155;
    color: #a97155;
    border-width: 2px;
}


/* Title  */
#Title img {
    border-radius: 3rem;
}

.btn {
    background-color: #a97155;
    border-color: #a97155;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}

.btn:hover {
    background-color: #be8c63;
    border-color: #be8c63;
    font-size: 15px;
}

.btn:active {
    background-color: #a97155;
    border-color: #a97155;
}


/* About me */
#About-me img {
    border-radius: 3rem;
    max-height: 600px;
}

/* Experience and education */
#Experience .container {
    padding: 3rem;
}

#Experience .distance {
    padding: 0 1rem;
}

#Experience .distance-top {
    padding-top: 0.5rem;
}

/* Aditional intrests */
#Interests img {
    object-fit: cover;
    height: fit-content;
    max-height: 400px;
    border-radius: 2.5rem;
}

#Interests .interest-name {
    padding-top: 1rem;
}

#Interests .distance-bottom {
    padding-bottom: 2rem;
}

/* They said about me */
#Quotes img {
    max-height: 400px;
    border-radius: 2rem;
}

#Quotes .distance {
    padding: 0 1rem;
}

#Quotes .image {
    padding: 0 2rem;
}

.quote-about {
    font-size: 20px;
    padding: 4px 0;
}

.quote-name {
    font-size: 18px;
    padding-top: 4px;
}

.quote-title {
    font-size: 14px;
    padding-bottom: 4px;
}

/* Reach out */
#Reach-out img {
    max-height: 600px;
    border-radius: 3rem;
}

#Reach-out svg {
    width: 35px;
    height: 35px;
}

#Reach-out .distance {
    padding-bottom: 3rem;
}

#Reach-out hr {
    margin: 2rem 0;
}

#Reach-out .social {
    padding-bottom: 1rem;
}

a {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #a97155;
    margin: 0;
    padding-top: 1rem;
}

.social {
    font-family: 'Old Standard TT', serif;
}